nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 2px;
  padding: 0.4em 0.6em;
}

nav span {
  margin: 0.5em;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #9a2ab6;
}
