.profile {
    padding: 1em;
    display: grid;
    gap: 1.2em;
    background-color: #303336;
}

.profile__header {
    display: grid;
    gap: 0.5em;
}

.profile__title {
    margin: 0;
    color: #b8b8b8;
}

.profile__grid {
    display: grid;
    gap: 1.2em;
}

@media (min-width: 900px) {
    .profile__grid {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
}

.profile__card {
    background-color: #001540;
    border: 1px solid #4a4a4a;
    padding: 1em;
    display: grid;
    gap: 1em;
}

.profile__card-title {
    margin: 0;
    color: #b8b8b8;
}

.profile__preview {
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

.profile__avatar-box {
    width: 72px;
    height: 72px;
    background-color: #303336;
    border: 1px solid #4a4a4a;
    display: grid;
    place-items: center;
}

.profile__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.profile__preview-text p {
    margin: 0 0 0.4em 0;
}

.profile__label {
    color: #b8b8b8;
}

.profile__form {
    display: grid;
    gap: 0.8em;
}

.profile__field {
    display: grid;
    gap: 0.4em;
}

.profile__field-label {
    font-size: 0.75em;
    color: #b8b8b8;
}

.profile__form input,
.profile__form textarea {
    background-color: #303336;
    border: 1px solid #4a4a4a;
    color: #ffffff;
    padding: 0.6em;
    font-family: inherit;
}

.profile__form input::placeholder,
.profile__form textarea::placeholder {
    color: #9a9a9a;
}

.profile__form input:focus-visible,
.profile__form textarea:focus-visible {
    outline: 2px solid #b8b8b8;
    outline-offset: 2px;
}

.profile__error {
    font-size: 0.7em;
    color: #ffb3b3;
}

.avatar-upload__row {
    display: flex;
    gap: 1em;
    align-items: center;
}

.avatar-upload__preview {
    width: 64px;
    height: 64px;
    background-color: #303336;
    border: 1px solid #4a4a4a;
    display: grid;
    place-items: center;
}

.avatar-upload__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.avatar-upload__controls {
    display: grid;
    gap: 0.4em;
}

.avatar-upload__label {
    font-size: 0.75em;
    color: #b8b8b8;
}

.avatar-upload__remove {
    background-color: #303336;
    border: 1px solid #4a4a4a;
    color: #ffffff;
    padding: 0.4em 0.6em;
    font-family: inherit;
    cursor: pointer;
}

.avatar-upload__remove:hover {
    background-color: #3a3d40;
}

.avatar-upload__remove:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.profile__avatar-placeholder,
.avatar-upload__placeholder {
    width: 100%;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap;
    box-sizing: border-box;
}

.profile__actions {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

.profile__button {
    background-color: #303336;
    border: 1px solid #4a4a4a;
    color: #ffffff;
    padding: 0.5em 1em;
    font-family: inherit;
    cursor: pointer;
}

.profile__button:hover {
    background-color: #3a3d40;
}

.profile__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
