body {
font-family: 'Press Start 2P', cursive;
  background-color: #001540;
  color: #ffffff;
  margin: 0.3em;
  padding: 0.3em;
  line-height: 1.6;
}

main {
  background-color: #303336;
  max-width: 75%;
  margin: auto;
}

h1, h2, h3 {
  color: #b8b8b8;
  margin-bottom: 0.5em;
}

a {
  color: #b8b8b8;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #ffffff;
}
